@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
	font-size: 8px;
	--background-color: #1b1b1b;
	--text-color: #fff;
	--discret-color: #676767;
	--bad-color: #fffd7c;
	--love-color: #ff5b5b;
}

body {
	margin: 0;
	padding: 0;
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Poppins", sans-serif;
}
